@import url('https://fonts.cdnfonts.com/css/hacker');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: #000000;

}

body {
    background: linear-gradient(to right, #2bff00, #009625, #006100);
}

.fundo {
    background-image: url("imgs/hacker2.svg");
    background-size: auto;
    background-size: cover;
    background-attachment: fixed;
}

.cabecalho {
    border-bottom: 4px solid #00be0a;
    background-color: #4ae735;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
}

.cabecalho-imagem {
    height: 100px;
}

.cabecalho-menu {
    display: flex;
    gap: 50px;

}

.cabecalho-menu-item {
    font-family: "IBM Plex Mono", "Hacker", sans-serif;
    font-weight: 100;
    font-weight: bold;
    font-size: 20px;

}

.cabecalho-menu-item:hover {
    color: #ff0000;
    font-size: 22px;

}

.conteudo {
    border-top: 0.4px solid #00470f;
    margin-bottom: 48px;
}

.conteudo-principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.conteudo-principal-texto {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.conteudo-principal-texto-titulo1 {
    font-family: "IBM Plex Mono", "Hacker", system-ui;
    font-weight: 600px;
    font-size: 35px;
    color: #000000;
    font-weight: bold;
}

.conteudo-principal-texto-titulo2 {
    font-family: "IBM Plex Mono", "Hacker", cursive;
    font-weight: 400;
    font-size: 25px;
}


.conteudo-principal-texto-botao {
    background-color: #00a510;
    width: 240px;
    height: 60px;
    border: none;
    box-shadow: 4px 5px 4px #023d00;
    border-radius: 25px;
    font-size: 16px;
    color: #000000;
    font-family: "IBM Plex Mono", "Hacker", cursive;
}

.conteudo-principal-imagem {
    height: 430px;
}

.conteudo-secundario {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 48px;
}

.conteudo-secundario-titulo3 {
    border-top: 0.4px solid #000000;
    padding-top: 20px;
    font-family: "IBM Plex Mono", "Hacker", system-ui;
    font-weight: 600px;
    font-size: 40px;
    color: #000000;
    margin-bottom: 16px;
}

.conteudo-secundario-paragrafo {
    font-family: "IBM Plex Mono", "Hacker", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}

.rodape {
    border-top: 4px solid #01ac01;
    background-color: #00b818;
    padding-top: 10px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-weight: bold;
}

.rodape-texto-escrito {
    font-family: "IBM Plex Mono", "Hacker", sans-serif;
    font-size: 14px;
    margin-right: 20px;
}

.rodape-item-imagem {
    width: 35px;

}